In [4]:
import pandas as pd
import numpy as np
import statistics as st

In [21]:
df=pd.read_csv(r"C:\Users\HP\DSBDA ASSIGNMENTS/iris.csv")

In [22]:
print(df.shape)

(150, 6)

In [23]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB
None

In [24]:
print(df.mean)

<bound method NDFrame._add_numeric_operations.<locals>.mean of       Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]>

In [26]:
print(df.loc[:,'SepalLengthCm'].mean())

5.843333333333334

In [27]:
print(df.loc[:,"PetalLengthCm"].mean())

3.758666666666666

In [28]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [29]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [30]:
print(df.mean(axis = 1)[0:5])

0    2.24
1    2.30
2    2.48
3    2.68
4    3.04
dtype: float64

C:\Users\HP\AppData\Local\Temp\ipykernel_8840\2927047438.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.mean(axis = 1)[0:5])

In [31]:
print(df.median())

Id               75.50
SepalLengthCm     5.80
SepalWidthCm      3.00
PetalLengthCm     4.35
PetalWidthCm      1.30
dtype: float64

C:\Users\HP\AppData\Local\Temp\ipykernel_8840\4259369830.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.median())

In [32]:
print(df.loc[:,'SepalLengthCm'].median())
print(df.loc[:,'PetalLengthCm'].median())

5.8
4.35

In [33]:
print(df.median(axis = 1)[0:5])

0    1.4
1    2.0
2    3.0
3    3.1
4    3.6
dtype: float64

C:\Users\HP\AppData\Local\Temp\ipykernel_8840\564777445.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.median(axis = 1)[0:5])

In [34]:
print(df.mode())

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.0           3.0            1.5           0.2
1      2            NaN           NaN            NaN           NaN
2      3            NaN           NaN            NaN           NaN
3      4            NaN           NaN            NaN           NaN
4      5            NaN           NaN            NaN           NaN
..   ...            ...           ...            ...           ...
145  146            NaN           NaN            NaN           NaN
146  147            NaN           NaN            NaN           NaN
147  148            NaN           NaN            NaN           NaN
148  149            NaN           NaN            NaN           NaN
149  150            NaN           NaN            NaN           NaN

             Species
0        Iris-setosa
1    Iris-versicolor
2     Iris-virginica
3                NaN
4                NaN
..               ...
145              NaN
146              NaN
147              NaN
148              NaN
149              NaN

[150 rows x 6 columns]

In [35]:
print(df.std())

Id               43.445368
SepalLengthCm     0.828066
SepalWidthCm      0.433594
PetalLengthCm     1.764420
PetalWidthCm      0.763161
dtype: float64

C:\Users\HP\AppData\Local\Temp\ipykernel_8840\3376696529.py:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.std())

In [37]:
print(df.loc[:,'SepalLengthCm'].std())
print(df.loc[:,'PetalLengthCm'].std())

0.8280661279778629
1.7644204199522617

In [38]:
print(df.std(axis = 1)[0:5])

0    2.010721
1    1.772005
2    1.754138
3    1.813009
4    2.165179
dtype: float64

C:\Users\HP\AppData\Local\Temp\ipykernel_8840\1912462208.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.std(axis = 1)[0:5])

In [39]:
print(df.var())

Id               1887.500000
SepalLengthCm       0.685694
SepalWidthCm        0.188004
PetalLengthCm       3.113179
PetalWidthCm        0.582414
dtype: float64

C:\Users\HP\AppData\Local\Temp\ipykernel_8840\1942798189.py:1: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.var())

In [42]:
from scipy.stats import iqr
print(iqr(df['SepalLengthCm']))

1.3000000000000007